* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.poste span {
	text-decoration: underline #027b81e5;
	
}

.poste{
	color: #757575;
}

.prenom span{
	color: #027b81e5;
}
h1,h2 {
	font-family: 'droid_sansregular', 'Arial', sans-serif;
}

.header {
	text-align: center;
	width: 80%;
	padding-bottom: 20px;
	padding-top: 15px;
	
}

.prenom{
	text-transform: uppercase;
	color:#757575 ;
}
td {
	min-width: 100px;
	padding: 10px;
	/*padding-right: 50px;*/
	/*padding-bottom: 10px; */
}

.tableau {
	margin-left: 40px;
	border-collapse: separate;
	border-spacing: 0px 10px;
	padding-bottom: 10px;
}

.intitule{
	padding-bottom: 15px;
	color: #00838f;
	text-decoration: underline #757575;

}

.intitule i{
	padding-right: 20px;
}

.liste {
	list-style-type: none;
	text-align: justify;
}

li {
	padding-top: 15px;
}
.titre{
	background-color:#757575 
}

.adresse {
	margin-left: 20px;
	margin-bottom: 30px;

}

.telephone {
	margin-left: 20px;
	margin-bottom: 30px;
}

.email {
	margin-left: 20px;
	margin-bottom: 30px;
}

.propos {
	text-align: justify;
	
}

.propos p {
	padding-left: 20px;
	padding-right: 20px;
}

.fa{
	font-size: 50px;
	padding-left: 10px;
	color: black;
}

a {
	padding-bottom: 15px;
	padding-top: 30px;
	display: flex;
	justify-content: center;
}

img {
	border-radius: 100px;
	border: 2px solid black;
}

#paragraphe section {
	display: inline-block;
	padding: 30px;
	width: 100%;
}

#liseret h2 {
	text-align: center;
}

#liseret {
	float: left;
	width: 20%;
	height: 1000px;
	background-position: left;
	background-color: #027b81e5;
	flex-direction: column;
	vertical-align: top;
}

#paragraphe {
	float: left;
	background-position: center;
}

#paragraphe section {
		display: block;
		width: auto;
	}

.circle {
	border: solid 2px #027b81e5;
	display: inline-flex;
	border-radius: 100%;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	text-align: center;
	align-items: center;
	justify-content: center;
}



.circle::after {
		content: '';
		background-color: #027b81e5;
		display: inline-block;
		width: 5px;
		height: 5px;
		border-radius: 100px;
		}
	
	
@media all and (max-width: 1025px) {

	header{
		position: relative;
		text-align: center;
		width: auto;
	}

	#liseret{
		display: flex;
		height: auto;
		width: auto;
		background-color: white;
	}

	#paragraphe{
		margin-top: 100px;
	}
}

/* largeur du header et du liseret */